body{
    width: 100%;
    height: 100%;
    background-color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout{
    background-image: url(https://res.cloudinary.com/djmffrvpg/image/upload/v1725829671/aozgiwsmgc9jjfihy8hc.png);
    overflow-y: scroll;
    background-attachment: local;
    background-size: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    max-width: 1440px;
    width: 100%;
    position: center;
    margin-top: 10%;
}

.subscription-box{
    padding: 55px;
    background-color: #000;
    border-radius: 15px #ffff;
    text-align: center;
    overflow: hidden;
    border-radius: 25px;
    position: center;
}

.subscription-box h2{
    font-family: "Montserrat" Light 300;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #cdcdcc;
    margin-top: -15px;
    margin-bottom: 25px;
    letter-spacing: .25px;
}

.subscription-box form{
    width: 600px;
    height: 70px;
    background-color: #cdcdcc;
    position: relative;
    border-radius: 5px;
    margin-left: 15px;
}

.subscription-box form input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
    padding-left: 25px;
    color: #ffff;
    font-size: 15px;
    font-family: "Montserrat" Light 300;
}

.subscription-box form input::placeholder{
    color: #191919;
}

.subscription-box form button{
    background: white;
    box-shadow: 0px 7px 20px rgba(141,40,143, 0, 15);
    border-radius: 0 14px 14px 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: transparent;
    padding: 15px 40px;
    font-weight: 200;
    font-size: 15px;
    font-family: "Montserrat" Light 300;
    color: #191919;
    transition: .3s;
    cursor: pointer;
}

.subscription-box form button:hover{
    background-color: #434242;
    color: #ffff;
}