body{
    height: 100%;
    background-color: #000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1980px;
}



.welcome-animation{
    width: 100%;
    height: auto;
    margin-top: 15vh;

}